@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: #E5E8E8;
}
.fa-brands {
    font-size: 25px;
    color: #e63803;
}
.topBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;
}
.topBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav ul {
    display: flex;
}
.nav li {
    list-style-type: none;
    margin: 10px;
}
.nav a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
 /* header */
.banner {
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg , rgb(251, 201, 201), blue);

}
.banner h1 {
    color: #d5d6d6;
}
.E-fruits {
    color: #e63803;
}
 /* container */
.container {
    background: #F2F3F4;
    padding: 15px 9%;
}
.container .products {
    text-align: center;
    margin: 40px 0;
    color: #2c3030;
    font-size: 23px;
}
.container .contain-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
    gap: 13px;
    padding: 10px;
}
.container .contain-box .box {
    position: relative;
    border-radius: 5px;
    background: #ffffff;
    text-align: center;
    padding: 30px 20px;
}
.container .contain-box .box:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    transform: scale(1.02);
    transition: .5s;
}
.container .contain-box .box img {
    height: 80px;
}
.container .contain-box .box p {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}
/* PrixTotal */
#amount {
    width: 150px;
    height: 30px;
    display: flex;
    margin-left: 10px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    background: linear-gradient(45deg , rgb(251, 201, 201), blue);

}
.price {
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    margin-top: 20px;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.element {
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    padding: 0 66px;
}
/* button */
button {
    height: 30px;
    width: 30px;
    font-size: 18px;
    font-weight: 550;
    background: #BDC3C7;
    border: none;
    cursor: pointer;
}
button:hover {
    color: #ffffff;
    border: none;
    background: linear-gradient(45deg , white, blue);
    border-radius: 30px;
    transition: .3s;
}
.num {
    font-size: 18px;
    font-weight: 550;
}
/* likeBtn */
#likeBtn {
    position: absolute;
    top: 20px;
}
.fa-solid {
    cursor: pointer;
    font-size: 20px;
}
.fa-solid:hover {
    /* transform: scale(1.02); */
    transition: .6s;
    color: #828282;
}

/*footrt*/
.footer {
    height: 200px;
    width: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2C3E50;
}
.footer_text {
    font-size: 17px;
    line-height: 10px;
    font-weight: 50;
    color: #F2F3F4;
}
.superskill {
    color: #e63803;
    font-weight: 500;
}